@model Post
@{
    ViewData["Title"] = "PostPage";
}

<div class="single-post">
    <div class="single-post-title">@Html.Raw(Model.Title)</div>
    <div class="single-post-content">
        <p>
            @Html.Raw(Model.Value)
        </p>
    </div>
    <div class="posted-by">
        <span class="blockquote-footer">Posted by @Model.Username</span>
    </div>


</div>

<button class="form-control btn-dark w-100" id="comments">Comments</button>
<div class="hide-show">
    <div class="comment-section">

        @{
            await Html.RenderPartialAsync("~/Views/Comment/_CommentPartial.cshtml", new CommentViewModel { PostId = Model.Id });
        }

        @foreach (var c in Model.MainComments)
        {
            <div class="comment-container">
                <div class="main-comment">
                    <p>
                        @c.CommentContent
                    </p>

                    <span class="blockquote-footer w-35 float-sm-right"><small>@c.DateCreated by @Model.Username</small></span>
                </div>


                @foreach (var sc in c.SubComments)
                {
                    <div class="sub-comment">
                        <p>
                            @sc.CommentContent
                        </p>
                        <span class="blockquote-footer w-35 float-sm-right"><small>@sc.DateCreated by @Model.Username</small></span>
                    </div>
                }

                @{
                    await Html.RenderPartialAsync("~/Views/Comment/_CommentPartial.cshtml", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });
                }

            </div>


        }
    </div>
</div>  